link(type='text/css', rel='stylesheet', href='/css/create.less')

form(method="post", action="/article/edit").create-form
    .item
        label(for="title") Title
        input(type="text", name="title", value="#{title}")#title
    .item
        label(for="title") Url
        input(type="text", name="url", value="#{url}")#url
    .item
        label(for="title") Category
        input(type="text", name="category", value="#{category}")#category
    .item
        label(for="text") Content
        textarea(name="content")#content= content
    .item(style="display: none")
        textarea(name="id")#id= id
    .item
        button.submit
            span.label Edit
script(src="/js/Markdown.Converter.js")
script(src="/js/edit.js")