@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不�?*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section {
	margin: 0;
	padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js �?createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* HTML5 媒体文件�?img 保持一�?*/
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* 要注意表单元素并不继承父�?font 的问�?*/
body, button, input, select, textarea {
	font: 100%/1.5 "Times New Roman", "Microsoft Yahei", serif;
}

input, select, textarea {
	font-size: 1em;
}

/* 去掉各Table  cell 的边距并让其边重�?*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IE bug fixed: th 不继�?text-align*/
th {
	text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
	border: 0;
}

/* ie6 7 8(q) bug 显示为行内表�?*/
iframe {
	display: block;
}

/* �?段落引用 */
blockquote {
	margin: 1em 4em 1em 2em;
	padding: 0.6em 1em;
	background: #f1f1f1;
}
blockquote blockquote {
	padding: 0 0 0 1em;
	margin-left: 2em;
	border-left: 0.4em solid #ddd;
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
	border-bottom: 1px dotted;
	font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌�?*/
abbr {
	cursor: help;
}

/* 一致的 del 样式 */
del {
	text-decoration: line-through;
}

address, caption, cite, code, den, em, th, var {
	font-style: normal;
	font-weight: 500;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当�?*/
ul, ol {
	list-style: none;
}

/* 对齐是排版最重要的因�? 别让什么都居中 */
caption, th {
	text-align: left;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优�?*/
h1, h2, h3, h4, h5, h6 {
	font: 100%/1 Verdana, sans-serif;
}

q:before, q:after {
	content: '';
}

/* 统一上标和下�?*/
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* 让链接在 hover 状态下显示下划�?*/
a:hover {
	text-decoration: underline;
}

/* 默认不显示下划线，保持页面简�?*/
ins, a {
	text-decoration: none;
}

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的�?
 * 要做到更好，向后兼容的话，添�?class="typo-u" 来显示专名号
 * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 被放弃的�?4，之前一直搞�?http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 一篇关�?<u> 标签的很好文章：http://html5doctor.com/u-element/ 
 */
u, .typo-u {
	text-decoration: underline;
}

/* 标记，类似于手写的荧光笔的作�?*/
mark {
	background: #fffdd1;
}

/* 代码片断 */
pre, code {
	font-family: 'Consolas', 'Monaco', 'Courier New', Courier, serif;
}
pre {
	border: 1px solid #ddd;
	border-left-width: 0.4em;
	background: #fbfbfb;
	padding: 10px;
}

/* 底部印刷体、版本等标记 */
small {
	font-size: 0.8em;
	color: #888;
}

/* 清理浮动 */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}


.clearfix:after {
	clear: both
}

.clearfix {
	zoom: 1
}

/* 现代排版：保证块/段落之间的空白隔�?*/
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr {
	margin: 0.6em 0 1em;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优�?*/
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
    font: 100%/1 Verdana, "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
	margin: 1.4em 0 0.8em;
}
.typo h1 {
	font-size: 1.8em;
}
.typo h2 {
	font-size: 1.6em;
}
.typo h3 {
	font-size: 1.4em;
}
.typo h4 {
	font-size: 1.2em;
}
.typo h5, .typo h6 {
	font-size: 1em;
}

/* 在文章中，应该还�?ul �?ol 的样�?*/
.typo ul {
	margin-left: 1.3em;
	list-style: disc;
}
.typo ol {
	list-style: decimal;
	margin-left: 1.9em;
}
.typo li ul, .typo li ol {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2em;
}
.typo li ul {
	list-style: circle;
}

/* �?ul/ol，在文章中应�?table 基本格式 */
.typo table th, .typo table td {
	border: 1px solid #ddd;
	padding: 5px 10px;
}
.typo table th {
	background: #fbfbfb;
}
.typo table thead th {
	background: #f1f1f1;
}

/* TODO: 供着重号使用 */
.typo-em {
	font-weight: 700;
}

/* TODO: 供首字下沉使�?*/
.typo-first{

}